body {
    padding: 10px;
}

h2 {
    margin-left: 60px;
}

#active-listing {
    margin-left: 60px;
    list-style-type: none; /* Default bullet */
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 20px;
    border-top: 2px solid black;
}

#listing-image {
    width: 350px;
    height: 350px;
    margin: 50px;
}

.active-image {
    width: 150px;
    height: 150px;
}

ul {
    list-style-type: none;
}


/* Listing page */
.listing {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-items: center;
}

#listing  div ul{
    display: block;
}


#image-container {
    background-color: grey;
}

#description {
    padding: 5px;
}


.bid {
    width: 300px;
    height: 50px;
    border-radius: 10px;
}


.comment-author {
    font-size: 0.5em;
}

.comment-date {
    font-size: 0.5em;
}

.comments {
    font-size: 0.85em;
    width: 60vw;

}

h4 {
    margin-left: 100px;
}

.custom-textarea {
    margin: 20px;              /* Set margins around the textarea */
    border: 1px solid #ccc;    /* Border style */
    border-radius: 8px;        /* Rounded borders */
    padding: 10px;
    resize: none;
}


.comment-bid {
    width: 6vw;
    border-radius: 8px;
}

