body {
    padding: 10px;
}

h2 {
    margin-left: 60px;
}

#active-listing {
    margin-left: 60px;
    list-style-type: none; /* Default bullet */
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 20px;
    border-top: 2px solid black;
}

#listing-image {
    width: 600px;
    height: 400px;
    padding: auto;
}

.active-image {
    width: 300px;
    height: 300px;
}

ul {
    list-style-type: none;
}


