{% extends "auctions/layout.html" %}

{% block body %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
    <h2>Listings</h2>
    <div class="listing">
        <div>
            <ul>
                <li id="image-container">
                    {% if listing.image %}
                        <img src="{{ listing.image.url }}" alt="photo of item" id="listing-image">
                    {% endif %}
                </li>
                <li> Seller id: {{ listing.user.id }}</li>
            </ul>
        </div>
        <div>
            <ul id="listing">
                <li> <h4>{{ listing.title }}</h4> </li><br>
                <li><h6>{% for category, value in categories.items %}
                    {% if listing.category == category %}
                        {{ value }}
                    {% endif %}
                {% endfor %} </h6></li>
                <hr>
                <li><h5>Kshs. {{ listing.starting_bid }}</h5></li>
                <li>
                    <strong> Status:
                        {%if listing.closed %}
                            closed
                        {% else %}
                            Open
                        {% endif %} 
                    </strong>
                </li><br>
                <form action="{% url 'watch' %}" method="post" >
                    {% csrf_token %}
                    {% if available %}
                        <button type="submit" value="{{listing.id}}" name="bid">Remove from watchlist</button>
                    {% else %}
                        <button type="submit" value="{{listing.id}}" class="bid" name="Add">Add to watchlist</button>
                    {% endif %}
                </form><br>
                <li></li> Item Description <br> </li>
                <li id="description"><p><i>{{ listing.description }}</i></p></li>
                <li> Seller: {{ listing.user }}</li>
                <p>Total bids <strong>({{ total_bids }})</strong></p>
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {% if user.id == listing.user.id %}
                        <input type="hidden"  name= "close" value="close">
                        <button type="submit" >Close Bid</button>
                    {% else %}
                        {{ bid_form.bid }},<br><br>
                        <button type="submit" value="bid">Bid</button>
                    {% endif %}
                </form>
            </ul>
        </div>
    </div>

    <!-- The comments section of the document -->
    <h4>Comments</h4>
    <div class="comments">
        <div>
            {% for comment in comments %}
                <div>
                    <ul>
                        <li class="comment-author">{{ comment.author}}</li>
                        <li class="comment-date">{{ comment.comment_date}}</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="comment-text">{{ comment.comment}}</li>
                    </ul>
                    <br><hr>
                </div>
            {% endfor %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ comment_form.comment }}<br><br>
                <input type="submit" value="comment">
            </form>
            {% for bid in bids %}
                <p>{{bid}}</p>
            {% endfor %}
        </div>   
    </div>
    
{% endblock %}