{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <ul id="active-listing"> 
            <div>
                <li>{% if listing.image %}
                    <img src="{{ listing.image.url }}" alt="photo of item" class="active-image">
                {% endif %}</li>
            </div>
            <div id="details">
                <li><a href="{% url 'listing' listing.id %}">Item: {{ listing.title }} </a></li>
                <li>Current Bid: {{ listing.starting_bid}}</li>
                <li>Category: {{ categories.listing.category }} 
                    {% for category, value in categories.items %}
                        {% if listing.category == category %}
                            {{ value }}
                        {% endif %}
                    {% endfor %}   
                </li>
                <li>Seller: {{ listing.user.username }}</li> 
                <li>Posting Date: {{ listing.posting_date }}</li>
            </div>
        </ul>
    {% endfor %}
{% endblock %}